<footer class="footer">
    <p class="contacto">Contacto</p>
    <p><a href="#" class="icon-contacto"><i class="bi bi-whatsapp"></i></a>55-66-55-88-00</p>
    <p><a href="#" class="icon-contacto"><i class="bi bi-envelope"></i></a>info@gamestore.com</p>
    <p><a href="#" class="icon-contacto"><i class="bi bi-youtube"></i></a>youtube.com/game-store</p>
</footer>