*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #333;
    padding: 1.2rem;
    color: #fff;
  }
  
  nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    grid-gap: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .login{
    text-align: right;
    float: right;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }