<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/stylesheet/header.css">
    <link rel="stylesheet" href="/style/stylesheet/footer.css">
    <title>Pagina no encontrada</title>
</head>

<body>
    <main>
        <%- include ('partials/header') %>

            <h1>La pagina que buscas no existe</h1>

            <a href="/">usa este link para volver al Inicio</a>

            <p>Por favor ingresa al inicio</p>

            <%- include ('partials/footer') %>
    </main>
</body>

</html>