<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheet/styles.css">
  <title>Game Store</title>
</head>

<body>
  <%- include ('partials/header') %>
    <main>
      <section class="banner">
        <p>Descubre tu proxima adicción gamer en nuesta tienda</p>
      </section>

      <section class="catalogo">
        <div class="juego">
          <div class="card">
            <img src="/img/xbox/forza-horizon-5.webp" alt="Forza Horizon 5">
            <div class="card-body">
              <h2>forza-horizon 5</h2>
              <p>Carreas, Automovilismo</p>
              <p class="precio">$49.99</p>
              <a href="#" class="comprar">Comprar</a>
              <a href="#" class="comprar">Agregar</a>
            </div>
          </div>
        </div>

        <div class="juego">
          <div class="card">
            <img src="/img/xbox/FIFA 23.webp" alt="FIFA 23">
            <div class="card-body">
              <h2>FIFA 23</h2>
              <p>Deportes, Soccer</p>
              <p class="precio">$49.99</p>
              <a href="#" class="comprar">Comprar</a>
              <a href="#" class="comprar">Agregar</a>
            </div>
          </div>
        </div>

        <div class="juego">
          <div class="card">
            <img src="/img/nintendo/Mario Kart 8 Deluxe.webp" alt="Mario Kart 8 Deluxe">
            <div class="card-body">
              <h2>Mario Kart 8 Deluxe</h2>
              <p>Deportes, Carreras</p>
              <p class="precio">$49.99</p>
              <a href="#" class="comprar">Comprar</a>
              <a href="#" class="comprar">Agregar</a>
            </div>
          </div>
        </div>

        <div class="juego">
          <div class="card">
            <img src="/img/playstation/Death Standing Dir Cut.webp" alt="Death Standing Dir Curt">
            <div class="card-body">
              <h2>Death Standing Dir Curt</h2>
              <p>Accion</p>
              <p class="precio">$49.99</p>
              <a href="#" class="comprar">Comprar</a>
              <a href="#" class="comprar">Agregar</a>
            </div>
          </div>
        </div>

        <div class="juego">
          <div class="card">
            <img src="/img/nintendo/Kirby Star Allies.webp" alt="Kirby Star Allies">
            <div class="card-body">
              <h2>Kirby Star Allies</h2>
              <p>Aventuras</p>
              <p class="precio">$49.99</p>
              <a href="#" class="comprar">Comprar</a>
              <a href="#" class="comprar">Agregar</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include ('partials/footer') %>

</body>

</html>